In [69]:
import pandas as pd
import numpy as np

In [70]:
movies_df = pd.read_csv("D:/KULIAH/M.S7/MachineLearning-main/movie-KNN/movies.csv",
                       usecols=['movieId','title'],dtype={'moviedId': 'int32', 'title':'str'})

In [71]:
rating_df=pd.read_csv('D:/KULIAH/M.S7/MachineLearning-main/movie-KNN/ratings.csv', 
                      usecols=['userId', 'movieId', 'rating'], 
                      dtype={'userId':'int32', 'movieId': 'int32', 'rating' : 'float32'})

In [72]:
movies_df.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [73]:
movies_df.shape

(9742, 2)

In [74]:
rating_df.head()

   userId  movieId  rating
0       1        1   4.000
1       1        3   4.000
2       1        6   4.000
3       1       47   5.000
4       1       50   5.000

In [75]:
rating_df.shape

(100836, 3)

In [76]:
df= pd.merge(rating_df, movies_df, on = 'movieId')
df

        userId  movieId  rating                             title
0            1        1   4.000                  Toy Story (1995)
1            5        1   4.000                  Toy Story (1995)
2            7        1   4.500                  Toy Story (1995)
3           15        1   2.500                  Toy Story (1995)
4           17        1   4.500                  Toy Story (1995)
...        ...      ...     ...                               ...
100831     610   160341   2.500                  Bloodmoon (1997)
100832     610   160527   4.500  Sympathy for the Underdog (1971)
100833     610   160836   3.000                     Hazard (2005)
100834     610   163937   3.500                Blair Witch (2016)
100835     610   163981   3.500                         31 (2016)

[100836 rows x 4 columns]

In [77]:
combine_movie_rating = df.dropna(axis = 0, subset =['title'])
movie_ratingCount = (combine_movie_rating.
                     groupby(by = ['title'])['rating'].
                     count().
                     reset_index().
                     rename(columns = {'rating': 'totalRatingCount'})
                     [['title', 'totalRatingCount']]
                    )
movie_ratingCount

                                          title  totalRatingCount
0                                    '71 (2014)                 1
1       'Hellboy': The Seeds of Creation (2004)                 1
2                        'Round Midnight (1986)                 2
3                           'Salem's Lot (2004)                 1
4                     'Til There Was You (1997)                 2
...                                         ...               ...
9714                            eXistenZ (1999)                22
9715                                 xXx (2002)                24
9716             xXx: State of the Union (2005)                 5
9717                      Â¡Three Amigos! (1986)                26
9718  Ã€ nous la libertÃ© (Freedom for Us) (1931)                 1

[9719 rows x 2 columns]

In [78]:
rating_with_totalRatingCount = combine_movie_rating.merge(movie_ratingCount, left_on = 'title', right_on ='title', how = 'left')
rating_with_totalRatingCount.head()

   userId  movieId  rating             title  totalRatingCount
0       1        1   4.000  Toy Story (1995)               215
1       5        1   4.000  Toy Story (1995)               215
2       7        1   4.500  Toy Story (1995)               215
3      15        1   2.500  Toy Story (1995)               215
4      17        1   4.500  Toy Story (1995)               215

In [79]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(movie_ratingCount['totalRatingCount'].describe())

count   9719.000
mean      10.375
std       22.406
min        1.000
25%        1.000
50%        3.000
75%        9.000
max      329.000
Name: totalRatingCount, dtype: float64

In [80]:
popularity_threshold = 50
rating_popular_movie = rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular_movie.head()

   userId  movieId  rating             title  totalRatingCount
0       1        1   4.000  Toy Story (1995)               215
1       5        1   4.000  Toy Story (1995)               215
2       7        1   4.500  Toy Story (1995)               215
3      15        1   2.500  Toy Story (1995)               215
4      17        1   4.500  Toy Story (1995)               215

In [81]:
rating_popular_movie.shape

(41362, 5)

In [82]:
movie_features_df=rating_popular_movie.pivot_table(index='title', columns='userId', values='rating').fillna(0)
movie_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,3.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000
12 Angry Men (1957),0.000,0.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000,0.000,...,5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2001: A Space Odyssey (1968),0.000,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,0.000,...,0.000,0.000,5.000,0.000,0.000,5.000,0.000,3.000,0.000,4.500
28 Days Later (2002),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.500,0.000,5.000
300 (2007),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,...,0.000,0.000,0.000,0.000,3.000,0.000,0.000,5.000,0.000,4.000

In [83]:
from scipy.sparse import csr_matrix
movie_features_df_matrix = csr_matrix(movie_features_df.values)
from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric = 'cosine', algorithm= 'brute')
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [84]:
movie_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,3.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000
12 Angry Men (1957),0.000,0.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000,0.000,...,5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2001: A Space Odyssey (1968),0.000,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,0.000,...,0.000,0.000,5.000,0.000,0.000,5.000,0.000,3.000,0.000,4.500
28 Days Later (2002),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.500,0.000,5.000
300 (2007),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,...,0.000,0.000,0.000,0.000,3.000,0.000,0.000,5.000,0.000,4.000

In [107]:
query_index = np.random.choice(movie_features_df.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 100)

120

In [108]:
movie_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,3.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000
12 Angry Men (1957),0.000,0.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000,0.000,...,5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2001: A Space Odyssey (1968),0.000,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,0.000,...,0.000,0.000,5.000,0.000,0.000,5.000,0.000,3.000,0.000,4.500
28 Days Later (2002),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.500,0.000,5.000
300 (2007),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,...,0.000,0.000,0.000,0.000,3.000,0.000,0.000,5.000,0.000,4.000

In [109]:
for i in range(0,len(distances.flatten())):
    if i == 0:
            print('Recommendations for {0}:\n'.format(movie_features_df.index[query_index]))
    else: 
            print('{0}: {1}, with distance of {2}:'.format(i, movie_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Dead Poets Society (1989):

1: Rain Man (1988), with distance of 0.4642203450202942:
2: Truman Show, The (1998), with distance of 0.5002989172935486:
3: Good Will Hunting (1997), with distance of 0.5062745809555054:
4: Stand by Me (1986), with distance of 0.5145639181137085:
5: Back to the Future (1985), with distance of 0.5266998410224915:
6: E.T. the Extra-Terrestrial (1982), with distance of 0.5327527523040771:
7: Green Mile, The (1999), with distance of 0.5363192558288574:
8: Ferris Bueller's Day Off (1986), with distance of 0.5532777309417725:
9: When Harry Met Sally... (1989), with distance of 0.5572923421859741:
10: Breakfast Club, The (1985), with distance of 0.5602794289588928:
11: Groundhog Day (1993), with distance of 0.5617198944091797:
12: Monty Python and the Holy Grail (1975), with distance of 0.5621542930603027:
13: Clockwork Orange, A (1971), with distance of 0.5680456161499023:
14: Beautiful Mind, A (2001), with distance of 0.570830225944519:
15: As Good as It Gets (1997), with distance of 0.5744299292564392:
16: Indiana Jones and the Temple of Doom (1984), with distance of 0.575605034828186:
17: Forrest Gump (1994), with distance of 0.5761390924453735:
18: Star Wars: Episode V - The Empire Strikes Back (1980), with distance of 0.5766170024871826:
19: Gattaca (1997), with distance of 0.5786615610122681:
20: Field of Dreams (1989), with distance of 0.580926775932312:
21: Edward Scissorhands (1990), with distance of 0.582779049873352:
22: Wizard of Oz, The (1939), with distance of 0.5831878185272217:
23: Big (1988), with distance of 0.5841301083564758:
24: Fifth Element, The (1997), with distance of 0.5856816172599792:
25: Ocean's Eleven (2001), with distance of 0.58631432056427:
26: Back to the Future Part III (1990), with distance of 0.5883404016494751:
27: Grease (1978), with distance of 0.5896661877632141:
28: Princess Bride, The (1987), with distance of 0.5916413068771362:
29: Ghostbusters (a.k.a. Ghost Busters) (1984), with distance of 0.5928614139556885:
30: Fight Club (1999), with distance of 0.5982603430747986:
31: Memento (2000), with distance of 0.5998328328132629:
32: Minority Report (2002), with distance of 0.5999435186386108:
33: American Beauty (1999), with distance of 0.5999943017959595:
34: Austin Powers: International Man of Mystery (1997), with distance of 0.6011406183242798:
35: Indiana Jones and the Last Crusade (1989), with distance of 0.6013003587722778:
36: Shawshank Redemption, The (1994), with distance of 0.6018120050430298:
37: Saving Private Ryan (1998), with distance of 0.6024054288864136:
38: Star Wars: Episode VI - Return of the Jedi (1983), with distance of 0.602875828742981:
39: Amadeus (1984), with distance of 0.6051911115646362:
40: Sixth Sense, The (1999), with distance of 0.6054283976554871:
41: Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981), with distance of 0.6062928438186646:
42: Blues Brothers, The (1980), with distance of 0.6069562435150146:
43: Wedding Singer, The (1998), with distance of 0.6086395382881165:
44: Mary Poppins (1964), with distance of 0.6087912321090698:
45: Eternal Sunshine of the Spotless Mind (2004), with distance of 0.6098290085792542:
46: Trainspotting (1996), with distance of 0.6105444431304932:
47: Austin Powers: The Spy Who Shagged Me (1999), with distance of 0.6107423305511475:
48: Lord of the Rings: The Return of the King, The (2003), with distance of 0.6127548813819885:
49: The Devil's Advocate (1997), with distance of 0.6128835678100586:
50: Back to the Future Part II (1989), with distance of 0.6140457391738892:
51: Usual Suspects, The (1995), with distance of 0.6142561435699463:
52: Shrek (2001), with distance of 0.6147410869598389:
53: Clerks (1994), with distance of 0.6156755685806274:
54: Die Hard (1988), with distance of 0.616823673248291:
55: Monsters, Inc. (2001), with distance of 0.6187248229980469:
56: Men in Black (a.k.a. MIB) (1997), with distance of 0.6194902658462524:
57: Spider-Man (2002), with distance of 0.6196038722991943:
58: Lord of the Rings: The Fellowship of the Ring, The (2001), with distance of 0.6197952628135681:
59: Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le) (2001), with distance of 0.619878888130188:
60: Catch Me If You Can (2002), with distance of 0.6203889846801758:
61: Star Wars: Episode IV - A New Hope (1977), with distance of 0.6207797527313232:
62: Matrix, The (1999), with distance of 0.6214582324028015:
63: Silence of the Lambs, The (1991), with distance of 0.6246014833450317:
64: Pulp Fiction (1994), with distance of 0.6247884035110474:
65: Office Space (1999), with distance of 0.6247884631156921:
66: Pirates of the Caribbean: The Curse of the Black Pearl (2003), with distance of 0.6248265504837036:
67: Finding Nemo (2003), with distance of 0.6258537769317627:
68: Big Fish (2003), with distance of 0.6266317963600159:
69: Spaceballs (1987), with distance of 0.6268110275268555:
70: Mrs. Doubtfire (1993), with distance of 0.6274454593658447:
71: Monty Python's Life of Brian (1979), with distance of 0.6283544301986694:
72: It's a Wonderful Life (1946), with distance of 0.6289136409759521:
73: High Fidelity (2000), with distance of 0.6310609579086304:
74: Shining, The (1980), with distance of 0.6310739517211914:
75: Terminator, The (1984), with distance of 0.6315792798995972:
76: Shrek 2 (2004), with distance of 0.6321531534194946:
77: Kill Bill: Vol. 1 (2003), with distance of 0.6327857971191406:
78: Graduate, The (1967), with distance of 0.6332659125328064:
79: Jerry Maguire (1996), with distance of 0.6351050734519958:
80: Sound of Music, The (1965), with distance of 0.6351510286331177:
81: There's Something About Mary (1998), with distance of 0.6353746056556702:
82: Reservoir Dogs (1992), with distance of 0.6356220841407776:
83: Big Lebowski, The (1998), with distance of 0.6360576152801514:
84: Matrix Reloaded, The (2003), with distance of 0.6365031599998474:
85: Shakespeare in Love (1998), with distance of 0.6374341249465942:
86: Full Metal Jacket (1987), with distance of 0.6375492811203003:
87: Willy Wonka & the Chocolate Factory (1971), with distance of 0.6376603841781616:
88: Last Samurai, The (2003), with distance of 0.6380302906036377:
89: American History X (1998), with distance of 0.6381268501281738:
90: V for Vendetta (2006), with distance of 0.6390706300735474:
91: American Pie (1999), with distance of 0.6391236782073975:
92: Gladiator (2000), with distance of 0.6395070552825928:
93: Dogma (1999), with distance of 0.6404839754104614:
94: Little Mermaid, The (1989), with distance of 0.6405633687973022:
95: Goonies, The (1985), with distance of 0.6415311098098755:
96: Titanic (1997), with distance of 0.6420780420303345:
97: Fantasia (1940), with distance of 0.6425617933273315:
98: Sin City (2005), with distance of 0.6438381671905518:
99: Life Is Beautiful (La Vita Ã¨ bella) (1997), with distance of 0.644707441329956: